@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de fontes Inter para NativeWind */
@layer utilities {
  .font-normal {
    font-family: 'Inter_400Regular';
  }

  .font-semibold {
    font-family: 'Inter_600SemiBold';
  }

  .font-bold {
    font-family: 'Inter_700Bold';
  }
}
